.search {
    flex: 6;
    overflow-y: scroll;
    position: sticky;
}

.searchWrapper{
    padding: 20px;
}

.searchWrapper > .case{
    margin-top: 0;
}

.searchbar {
    margin-left: 20px;
    margin-top: 18px;
    width: 50%;
    height: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
}