.cCase {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cCaseWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.cCaseLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cCaseRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cCaseLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-top: 0;
}

.cCaseDesc {
    font-size: 24px;
}

.cCaseBox {
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cCaseInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.cCaseInput:focus {
    outline: none;
}

.cCaseButton {
    height: 50px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    border: none;
    background-color: #175eee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}