.cUser {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cUserWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.cUserLeft,
.cUserRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cUserLogo {
    margin-top: 0;
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
}

.cUserDesc {
    font-size: 24px;
}

.cUserBox {
    height: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cUserInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.cUserInput:focus {
    outline: none;
}

.cUserButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #175eee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}